.vs 
/finance-ui/obj/Debug
/packages
/FinanceUi/.env.development
/CosmosMigrations/data
/cooploanapp/obj/Debug
/package.json
FinanceProject/configs
/FinanceHooks2
.venv
.env
CosmosMigrations/backuppersist.json
MigrationPython/data
/MigrationPython/migrations/__pycache__
pythonhttp/local.settings.json
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
FinanceFunction/__blobstorage__
__blobstorage__
__azurite_db_table__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
__pycache__
FinanceHooksv2/temp